.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: var(--grays-black, #000000);
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.budt-748 {
  color: var(--backgrounds-primary, #ffffff);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 19px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 954px;
  top: 35px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1143px;
  top: 38px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1272px;
  top: 38px;
}
.budt-748-information-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 196px;
}
.budt-748-is-the-capstone-course-for-information-systems-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients-through-a-complete-is-development-process-students-design-and-implement-functional-prototypes-that-solve-practical-business-challenges-preparing-them-for-careers-in-technology-and-consulting {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 698px);
  top: 280px;
  width: 1404px;
  height: 146px;
}
.semester-details-fall-2026 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 451px;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 512px;
}
.teaching-assistants-archit-tiwari {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 573px;
}
